<div class="section" id="contact">
  <div class="cc-contact-information" style="background-repeat: no-repeat; background-image: url('assets/images/contact.jpg');">
    <div class="container">
      <div class="cc-contact">
        <div class="row">
          <div class="col-md-9">
            <div class="card mb-0" data-aos="zoom-in">
              <div class="h4 text-center title">Contact Me</div>
              <div class="row">
                <div class="col-md-6">
                  <div class="card-body">
                    <form name="form" (ngSubmit)="f.form.valid ; f.resetForm()" #f="ngForm" novalidate>
                      <div class="p pb-3">
                        <strong>Feel free to contact me </strong>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group">
                            <input class="form-control" type="text" name="name"  placeholder="Name"
                              [(ngModel)]="model.name" #name="ngModel"
                              [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required />
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-container">
                            <input class="form-control" type="text" name="subject"  placeholder="Subject"
                              [(ngModel)]="model.subject" #subject="ngModel"
                              [ngClass]="{ 'is-invalid': f.submitted && subject.invalid }" required />
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group">
                            <input class="form-control" type="text" name="email"   placeholder="E-mail"
                              [(ngModel)]="model.email" #email="ngModel"
                              [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
                              pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" required />
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="form-group">
                            <textarea class="form-control" name="message"  placeholder="Your Message"
                              [(ngModel)]="model.message" #message="ngModel"
                              [ngClass]="{ 'is-invalid': f.submitted && message.invalid }" required></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <button class="btn btn-primary" type="submit" (click)="onSubmit(name.value, subject.value, email.value, message.value)"> Send</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                      <p class="mb-0">
                          <strong>Phone</strong>
                      </p>
                      <p class="pb-2">+1 (617) 888 - 2544</p>
                      <p class="mb-0">
                          <strong>Email</strong>
                      </p>
                      <p>mark.heymann01@gmail.com</p>
                  </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-snotify class="material"></ng-snotify>


<!--
<section class="section">
  <div class="container">
    {{nameInput.errors | json}}
<form (ngSubmit)="submitForm()" #contactForm="ngForm">
  <div class = "field">
    <label class = "label">Name</label>
    <input type="text"
    name="name"
    class="input"
     [(ngModel)]="name"
     #nameInput="ngModel"
     required />
    <div class="help is-error" *ngif="nameInput.Invalid && nameInput.touched">
      Your name is required.
      </div>
  </div>

  <div class = "field">
    <label class = "label">Email</label>
    <input type="text"
    name="email"
    class="input"
    [(ngModel)]="email"
    #emailInput="ngModel"
    required
    email/>
    <div class="help is-error" *ngif="emailInput.invalid && emailInput.touched">
      Your email is required and needs to be a valid email.
  </div>
</div>
  <div class = "field">
    <label class = "label">Your message</label>
    <textarea type="text" name="message" class="textarea" [(ngModel)]="message"></textarea>
  </div>

  <button type="submit" class="button is-large is-warning"
  [disabled] ="contactForm.invalid">
  Send!
</button>
</form>
</div>
</section>
-->
