<!--http://www.prepbootstrap.com/bootstrap-template/timeline-->
<div class="section" id="experience">
  <div class="container">
    <div class="h4 text-center mb-4 title">Experience</div>
    <ul class="timeline">
      <li>
        <!---Time Line Element--->
        <div class="timeline-badge ktbyte">
          <img src="assets/images/logo.png" />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Aligned Incentives</h4>
          </div>
          <div class="timeline-body">
            <!---Time Line Body&Content--->
            <div class="row">
              <div class="col-lg-6">
                <div class="h5 mt-0 title">Aligned Incentives</div>
                <div class="h6 mt-0 title">Full Stack Developer (2021-09 - Present)</div>
                <p align="justify">
                  Aligned Incentives enables the world’s largest organizations to make 
                  their societal goals the driver of large financial value creation.
                </p>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li class="list">Role</li>
                  <ul>
                    <li class="non_list">Full Stack Developer</li>
                  </ul>
                  <li class="list">Technologies and Language</li>
                  <ul>
                    <div class="row">
                      <div class="col-md-6">
                        <li class="non_list">Spring Boot/Java</li>
                        <li class="non_list">Angular/Typescript/HTML/Css/Less</li>
                        <li class="non_list">PostgreSql/SQL</li>
                        <li class="non_list">Swagger</li>
                        <li class="non_list">Figma</li>
                      </div>
                    </div>
                  </ul>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <!---Time Line Element--->
        <div class="timeline-badge ktbyte">
          <img src="assets/images/ktbyte.png" />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">KTBYTE</h4>
          </div>
          <div class="timeline-body">
            <!---Time Line Body&Content--->
            <div class="row">
              <div class="col-lg-6">
                <div class="h5 mt-0 title">KTBYTE Computer Science Academy</div>
                <div class="h6 mt-0 title">Instructor (2020-04 - 2020-12)</div>
                <p align="justify">
                  KTBYTE uses the Processing and Java programming languages to
                  introduce students to Object Oriented Programming
                </p>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li class="list">Role</li>
                  <ul>
                    <li class="non_list">Instructor</li>
                    <li class="non_list">Curriculum Development</li>
                  </ul>
                  <li class="list">Technologies and Language</li>
                  <ul>
                    <div class="row">
                      <div class="col-md-6">
                        <li class="non_list">Processing</li>
                        <li class="non_list">Java</li>
                        <li class="non_list">HTML</li>
                        <li class="non_list">CSS</li>
                      </div>
                    </div>
                  </ul>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <!---Time Line Element--->
        <div class="timeline-badge umass">
          <img src="assets/images/umass.png" />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">
              UMass Boston Student Software Developer
            </h4>
          </div>
          <div class="timeline-body">
            <!---Time Line Body&Content--->
            <div class="row">
              <div class="col-lg-6">
                <div class="h5 mt-0 title">Rosterdata</div>
                <div class="h6 mt-0 title">Developer (2020-02 - 2020-05)</div>
                <p align="justify">
                  Designed and deployed web pages using JavaScript and PHP for
                  the company to
                </p>
                <p align="justify">
                  allow users to visualize an assortment of statistics from
                  their database.
                </p>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li class="list">Role</li>
                  <ul>
                    <li class="non_list">Developer</li>
                    <li class="non_list">Designer</li>
                  </ul>
                  <li class="list">Technologies and Language</li>
                  <ul>
                    <div class="row">
                      <div class="col-md-6">
                        <li class="non_list">Javascript</li>
                        <li class="non_list">PHP</li>
                        <li class="non_list">HTML</li>
                        <li class="non_list">CSS</li>
                        <li class="non_list">PostGreSQL</li>
                      </div>
                    </div>
                  </ul>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
