<div class="section" id="education">
  <div class="container">
      <div class="h4 text-center mb-4 title">Education</div>
          <div class="card">
              <div class="row">
                  <div class="col-md-2" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                      <div class="card-body">
                        <img src = 'assets/images/umass.png'>
                      </div>
                  </div>
                  <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                      <div class="card-body">
                          <div class="h4">Master's of Computer Science</div>
                              <h4 class="category">University of Massachusetts Boston</h4>
                              <ul>
                                <li>Completed MS in Computer Science with <b>3.6 GPA</b>.</li>
                                <li>Worked as a student software engineer and got real world experience</li>
                              </ul>
                      </div>
                  </div>
              </div>
          </div>
          <div class="card">
              <div class="row">
                  <div class="col-md-2 " data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                      <div class="card-body ">
                        <img src = 'assets/images/BU.png'>
                      </div>
                  </div>
                  <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                      <div class="card-body">
                          <div class="h4">Bachelor of Liberal Studies</div>
                          <h4 class="category">Boston University</h4>
                          <ul>
                            <li>Completed Bachelor's in Liberal Studies with <b>3.8 GPA</b>.</li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
  </div>
</div>

